@model PlanillaAllAccessGrupo01.AppWebMVC.Models.Empleado

@{
	ViewData["Title"] = "Create";
}


<div class="row justify-content-center">

	<h1 class="display-4 text-success"><i class="fas fa-plus-circle"></i> Crear Empleado</h1>
	<hr class="bg-success" style="height: 2px;" />

	<div class="col-md-6">
		<div class="card shadow-lg p-4">

			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class=" col-md-12 mb-3">
					<label asp-for="Dui" class="form-label fw-bold"></label>
					<input asp-for="Dui" class="form-control" placeholder="Ingrese el dui del empleado" />
					<span asp-validation-for="Dui" class="text-danger"></span>
				</div>

				<div class="row">

					<div class="col-md-6 mb-4">
						<label asp-for="Nombre" class="form-label fw-bold"></label>
						<input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre" />
						<span asp-validation-for="Nombre" class="text-danger"></span>
					</div>
					<div class="col-md-6 mb-3">
						<label asp-for="Apellido" class="form-label fw-bold"></label>
						<input asp-for="Apellido" class="form-control" placeholder="Ingrese el apellido" />
						<span asp-validation-for="Apellido" class="text-danger"></span>
					</div>
					<div class="col-md-6 mb-4">
						<label asp-for="Telefono" class="form-label fw-bold"></label>
						<input asp-for="Telefono" class="form-control" type="number" placeholder="Ingrese el telefono" />
						<span asp-validation-for="Telefono" class="text-danger"></span>
					</div>
					<div class="col-md-6 mb-3">
						<label asp-for="Correo" class="form-label fw-bold"></label>
						<input asp-for="Correo" class="form-control" placeholder="Ingrese el correo del empleado" />
						<span asp-validation-for="Correo" class="text-danger"></span>
					</div>
					<div class="col-md-6 mb-3">
						<label asp-for="FechaContraInicial" class="form-label fw-bold"></label>
						<input asp-for="FechaContraInicial" class="form-control" type="date" />
						<span asp-validation-for="FechaContraInicial" class="text-danger"></span>
					</div>
					<div class="col-md-6 mb-4">
						<label asp-for="FechaContraFinal" class="form-label fw-bold"></label>
						<input asp-for="FechaContraFinal" class="form-control" type="date" />
						<span asp-validation-for="FechaContraFinal" class="text-danger"></span>
					</div>

				</div>

				<div class="row">

					<div class="col-md-12 mb-3">
						<label asp-for="SalarioBase" class="form-label fw-bold"></label>
						<input asp-for="SalarioBase" class="form-control" id="salarioBaseInput" readonly />
						<span asp-validation-for="SalarioBase" class="text-danger"></span>
					</div>

				</div>

				<div class="row">
					<div class="col-md-6 mb-4">
						<label asp-for="PuestoTrabajoId" class="form-label fw-bold"></label>
						<select asp-for="PuestoTrabajoId" class="form-control" asp-items="ViewBag.PuestoTrabajoId" id="puestoTrabajoSelect">
							<option value="">-- Seleccione un puesto --</option>
						</select>
						<span asp-validation-for="PuestoTrabajoId" class="text-danger"></span>
					</div>

					<div class="col-md-6 mb-4">
						<label asp-for="Estado" class="form-label fw-bold"></label>
						<select asp-for="Estado" class="form-control" asp-items="ViewBag.Estados">
						</select>
						<span asp-validation-for="Estado" class="text-danger"></span>
					</div>

					<div class="col-md-6 mb-4">
						<label asp-for="JefeInmediatoId" class="form-label fw-bold"></label>
						<select asp-for="JefeInmediatoId" class="form-control" asp-items="ViewBag.JefeInmediatoId" id="jefeInmediatoSelect">
							<option value="">-- Seleccione un jefe --</option>
						</select>
						<span asp-validation-for="JefeInmediatoId" class="text-danger"></span>
					</div>
					<div class="col-md-6 mb-3">
						<label asp-for="TipoDeHorarioId" class="form-label fw-bold"></label>
						<select asp-for="TipoDeHorarioId" class="form-control" asp-items="ViewBag.NombreHorario">
							<option value="">-- Seleccione un horario --</option>
						</select>
						<span asp-validation-for="TipoDeHorarioId" class="text-danger"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 mb-3">
						<label asp-for="Usuario" class="form-label fw-bold"></label>
						<input asp-for="Usuario" class="form-control" id="usuarioInput" disabled />
						<span asp-validation-for="Usuario" class="text-danger"></span>
					</div>
					<div class="col-md-4 mb-4">
						<label asp-for="Password" class="form-label fw-bold"></label>
						<input asp-for="Password" class="form-control" id="contraseñaInput" type="password" disabled />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="col-md-4 mb-4">
						<label asp-for="ConfirmarPassword" class="form-label fw-bold"></label>
						<input asp-for="ConfirmarPassword" class="form-control" id="confirContraInput" type="password" disabled />
						<span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
					</div>
				</div>

				

				<br />
				<div class="d-flex justify-content-between mt-4">
					<button type="submit" class="btn btn-success px-4">
						<i class="fas fa-save"></i> Guardar
					</button>
					<a asp-action="Index" class="btn btn-danger px-4"> Volver</a>
				</div>
			</form>
		</div>
	</div>
</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>

		 const rolesPermitidos = ["Gerente de Recursos Humanos", "Supervisor", "Administrador de Nómina"];

		 document.getElementById("puestoTrabajoSelect").addEventListener("change", function () {
			 const puestoTrabajoId = this.value;
			 const usuarioInput = document.getElementById("usuarioInput");
			 const contraseñaInput = document.getElementById("contraseñaInput");
			 const confirContraInput = document.getElementById("confirContraInput");


			 usuarioInput.value = "";
			 contraseñaInput.value = "";
			 confirContraInput.value = "";

			 if (puestoTrabajoId) {

				 fetch(`/Empleado/GetPuestoNombre?puestoTrabajoId=${puestoTrabajoId}`)
					 .then(response => response.json())
					 .then(data => {
						 const nombrePuesto = data.nombrePuesto;

						 if (rolesPermitidos.includes(nombrePuesto)) {
							 usuarioInput.disabled = false;
							 contraseñaInput.disabled = false;
							 confirContraInput.disabled = false;
						 } else {
							 usuarioInput.disabled = true;
							 contraseñaInput.disabled = true;
							 confirContraInput.disabled = true;
						 }
					 })
					 .catch(error => console.error("Error:", error));

			 } else {
				 usuarioInput.disabled = true;
				 contraseñaInput.disabled = true;
				 confirContraInput.disabled = true;
			 }
		 });

		 const rolesSinJefeInmediato = ["Gerente de Recursos Humanos", "Supervisor", "Administrador de Nómina"];

		 document.getElementById("puestoTrabajoSelect").addEventListener("change", function () {
			 const puestoTrabajoId = this.value;
			 const jefeInmediatoSelect = document.getElementById("jefeInmediatoSelect");

			 if (puestoTrabajoId) {

			   fetch(`/Empleado/GetPuestoNombre?puestoTrabajoId=${puestoTrabajoId}`)
			         .then(response => response.json())
			         .then(data => {
				     const nombrePuesto = data.nombrePuesto;

				     if (rolesSinJefeInmediato.includes(nombrePuesto)) {

										 jefeInmediatoSelect.disabled = true;
										 jefeInmediatoSelect.value = "";
				     } else {

				        jefeInmediatoSelect.disabled = false;
				     }
				 })
				 .catch(error => console.error("Error:", error));

			 } else {

				 jefeInmediatoSelect.disabled = true;
				 jefeInmediatoSelect.value = "";
			 }
		 });

		document.getElementById("puestoTrabajoSelect").addEventListener("change", function () {
		     var puestoId = this.value;
			 if (puestoId) {
				 fetch(`/Empleado/GetSalarioBase?puestoTrabajoId=${puestoId}`)
				 .then(response => response.json())
				 .then(data => {
					  document.getElementById("salarioBaseInput").value = data.salarioBase;
				 })
					 .catch(error => console.error("Error:", error));
			 } else {
				 document.getElementById("salarioBaseInput").value = "";
			 }
		});


	</script>

}
