body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.barra-superior {
    background-color: rgb(56,60,68);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .barra-superior .usuario {
        font-weight: bold;
        color: #383c44;
    }

.contenedor-principal {
    display: flex;
    flex: 1;
}

.menu-lateral {
    width: 280px;
    min-height: 100vh;
    background-color: #343a40;
    color: white;
}

    .menu-lateral a {
        color: white;
    }

.contenido-principal {
    flex: 1;
    padding: 20px;
}

.menu-lateral .nav-link.active {
    background-color: #0d6efd;
}

.menu-lateral .nav-link i {
    margin-right: 8px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .contenedor-principal {
        flex-direction: column;
    }

    .menu-lateral {
        width: 100%;
        min-height: auto;
        position: fixed;
        top: 60px; /* Ajusta la posición para que no se superponga con la barra superior */
        left: 0;
        z-index: 1000;
        display: none; /* Oculta el menú lateral por defecto en móviles */
    }

    .contenido-principal {
        margin-left: 0;
    }

    .menu-toggle {

    }
}

/* Estilos para el botón de toggle del menú */
.menu-toggle {

    background: none;
    border: none;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
}

#toggleMenuBtn {
    background-color: rgb(56,60,68);
    color: white; /* Cambia el color del icono */
}

    #toggleMenuBtn:hover {
        color: #ccc; /* Cambia el color al pasar el mouse, opcional */
    }
